<div class="dn"> <%# display: none #%>
  <nav class="flex justify-between bb b--black-30 bg-white-90">
    <a class="link black-70 hover-white no-underline flex items-center ph3 pv1" href="/">
      Home
    </a>
  </nav>
</div>
