<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100">

    <%- include('../partials/header'); %>

    <!-- open main content -->
    <main class="w-100 bg-white black-70 center">

    <div class="w-100 bt bg-near-white mt1">
      <section class="mw8 mw10-ns center pa3 ph5-ns">
        <h1 class="mv0">Brunch.io (with express, crank, and tachyons)</h1>
      </section>
    </div>

  <article class="mt3 mw8 center">
      <div class="pr3-ns mb4 mb0-ns w-100">
        <p class="pre black-80 mt0">
          npm install -g brunch
          git clone https://github.com/darrylcousins/brunch-with-express.git
          cd brunch-with-express
          npm install
          npm start
        </p>
      </div>
      <div class="w-100 pl3-ns">
        <div id="app"></div>
        <p class="lh-copy black-80 mt0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
  </article>
    </main>
    <!-- close main content -->

    <%- include('../partials/footer'); %>

    <script src="/app.js"></script>
    <script src="/vendor.js"></script>
    <script>require('initialize');</script>

  </body>
</html>
