<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="sans-serif w-100">

    <%- include('../partials/header'); %>

    <!-- open main content -->
    <main class="w-100 bg-white black-70 center">

    <div class="w-100 bg-near-white bb b--black-30">
      <section class="mw8 mw10-ns center pa3 ph3-ns">
        <h1 class="mv0">Brunch.io (with express, crank, and tachyons)</h1>
      </section>
    </div>

  <article class="mt3 mw8 center pa3">
      <div class="pr3-ns mb4 mb0-ns w-100">
        <p class="code black-60 mt0 f6 pl3 mt3">
        npm install -g brunch<br />
        mkdir ~/Projects/brunch-with-express<br />
        cd ~/Projects/brunch-with-express<br />
        brunch new --skeleton https://github.com/darrylcousins/brunch-with-express.git<br />
        npm start<br />
        </p>
      </div>
      <div class="w-100">
        <div id="app"></div>
        <p class="lh-copy black-80 mt0">
          <ul class="list">
            <li>
              <a href="" class="link b dim">brunch.io</a> for the build pipeline.
            </li>
            <li>
              <a href="" class="link b dim">crank.js</a> for the javascript to render dynamic items.
            </li>
            <li>
              <a href="" class="link b dim">express.js</a> to serve the files.
            </li>
            <li>
              <a href="" class="link b dim">tachyons.css</a> to make it legible.
            </li>
        </ul>
        </p>
      </div>
  </article>
    </main>
    <!-- close main content -->

    <%- include('../partials/footer'); %>

    <script src="/app.js"></script>
    <script src="/vendor.js"></script>
    <script>require('initialize');</script>

  </body>
</html>
